body {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  color: #FEFBFE;
  background-color: #28072C;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}

button {
  border: none;
  outline: none;
  border-radius: 5%;
  padding: 16px;
  background-color: #CA2ADF;
  color: #29062D;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 16px;
  position: relative;
  overflow: hidden;
  z-index: 0;
  transition: box-shadow 0.3s ease;
}

button:hover {
  box-shadow: 0 0 25px rgba(255, 255, 255, 0.3);
}

button:active {
  transform: scale(0.95);
}

span {
  color: #BC1FD1;
  font-weight: bold;
}

p {
  font-size: 20px;
  margin-bottom: 0;
}

img {
  border: solid 5px #BC1FD1;
  height: 500px;position: relative;
  overflow: hidden;
  z-index: 0;
  transition: box-shadow 0.3s ease;
}

img:hover {
  box-shadow: 0 0 50px rgba(255, 255, 255, 0.3);
}

img:active {
  transform: scale(0.95);
}



.selections {
  margin-bottom: 16px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}